<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% block css_links %}{% endblock %}
</head>
<body>
    <header id="header">
        {% block header_content %}{% endblock %}
    </header>
    <main>
        {% block main_content %}{% endblock %}
    </main>
    <footer>
        {% block footer_content %}{% endblock %}
    </footer>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block js_links %}{% endblock %}
</body>
</html>