{% extends "UserApp/_base.html" %}

{% load i18n %}

{% block title %}
    {% blocktranslate with title=flatpage.title %} {{ title }} {% endblocktranslate %}
{% endblock title %}


{% block content %}
    <head>
        {% load static %}
        <title>{% blocktranslate with title=flatpage.title %} {{ title }} {% endblocktranslate %}</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="{% static 'ProjectShop/static/css/styles.css'%}" type="text/css">

    </head>
    <body>
        <div class="section">
		    <div class="container">
			    <div class="content-section">
				    <div class="title">
					    <h1>{% blocktranslate with title=flatpage.title %} {{ title }} {% endblocktranslate %}</h1>
				    </div>
				    <div class="content">
					    <p>{% blocktranslate with content=flatpage.content %} {{ content }} {% endblocktranslate %}</p>
				    </div>

			    </div>
			    <div class="image-section">
				    <img src="">
			    </div>
		    </div>
	    </div>
    </body>
{% endblock %}
