<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

  </head>
  <body>
  <header>
    <div class="nav-menu">
        <!-- burger menu -->
        <button class="hamburger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <nav class="burger-nav disappeared">

            <div class="burger-categories_section">
                <h2>Categories</h2>
                <div class="burger-categories_items">
                    <input type="text" placeholder="Search" class="search-burger_btn">
                    <a href="#" class="item-link">All goods</a>
                    <a href="#" class="item-link">Cameras</a>
                    <a href="#" class="item-link">Mobile phones</a>
                    <a href="#" class="item-link">PC</a>
                    <a href="#" class="item-link">More...</a>
                </div>
            </div>

            <div class="burger-profile_section">
                {% if user.is_authenticated %}
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <div class="burger-profile_items">
                    <a href="{% url 'profile' %}" class="item-link">Profile</a>
                    <a href="#" class="item-link">Cart</a>
                    <a href="#" class="item-link">Order history</a>
                    <a href="#" class="item-link">Filter history</a>
                    <a href="#" class="item-link">My reviews</a>
                    <a href="#" class="item-link">Settings</a>
                    <a href="{% url 'logout' %}" class="item-link">Log out</a>
                </div>
                {% else %}

                {% endif %}

            </div>
        </nav>

        <!-- navbar -->

        <a class="site-logo" href="{% url 'home' %}">ProjectShop</a>
        <div class="nav-menu_actions">
            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit" class="button-search">Search</button>
                </form>
            </div>
            <div class="nav-icons">
                <a href="" class="nav-link">Cart</a>
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </div>
        </div>

    </div>
    </header>

    {% block content %}

    {% endblock content%}

    <footer>
    <div class="footer-main">
        <div class="footer-main-text">
            <p>Project<br>Shop</p>
        </div>
        <div class="footer-container-second">
            <div class="footer-text-container">
                <p class="footer-main-text-second">Our Contacts</p>
                <br>
                <div class="footer-second-text">
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quo corporis,
                        illo expedveniam nisi laboriosam deserunt eos, magni placeat, commodi
                    </span>
                </div>
            </div>
            <div class="footer-text-container">
                <p class="footer-main-text-second">Information</p>
                <br>
                <div class="footer-second-text" style="font-size: 1rem;">
                    <span>Sitemap<br>Payment&Delivery Info<br> Privacy Policy <br>Term of Use
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!--Custom JS-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>


