{% load i18n %}
{% load flatpages %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% translate "Shop" %}</title>

</head>
<body>


    <!--  Messages start here  -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
              {% blocktranslate %} {{ message }} {% endblocktranslate %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <!--  Messages end here  -->

    <!--  First Navbar starts here  -->
    <h3> Navbar: </h3>
    <a href="{% url 'home' %}">{% translate "Home page" %}</a>

    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{% translate "Profile" %}</a>
        <a href="{% url 'logout' %}">{% translate "Logout" %}</a>
      {% else %}
        <a href="{% url 'login' %}">{% translate "Login" %}</a>
        <a href="{% url 'register' %}">{% translate "Register" %}</a>
    {% endif %}

    <a href="{% url 'categories' %}">{% translate "Categories" %}</a>

    <!--  Flatpages  -->
    {% get_flatpages as flatpages %}
    <ul>
      {% for page in flatpages %}
        <li>
            <a href="/pages{{ page.url }}">
                {% blocktranslate with flatpage_title=page.title %} {{ flatpage_title }} {% endblocktranslate %}
            </a>
        </li>
      {% endfor %}
    </ul>
    <!--  First Navbar ends here  -->

    <!--  Second Navbar starts here  -->
    {% block category %}{% endblock category %}
    <!--  Second Navbar ends here  -->

    {% block content %}{% endblock content %}


</body>
</html>
