{% extends 'UserApp/_base.html' %}
  {% block title %} Homepage {% endblock title %}
  {% block content %}
  {% load static %}
{#    <div class="categories-scroller">#}
{#        <div class="button-container">#}
{#            <button class="scroll-left-button"> <<< </button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="banner">#}
{#        Ad Banner#}
{#    </div>#}

    <div>
        <section>
            <div class="featured-container">
                <p class="featured-text">Featured Categories</p>
                <div class="featured-block-list">
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Category</a>
                    </div>
                </div>
                <div class="button-container">
                    <button class="view-more-button">View More</button>
                </div>
            </div>
        </section>
        <section>
            <div class="featured-container">
                <p class="featured-text">Sales</p>
                <div class="featured-block-list">
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                    <div class="featured-block">
                        <a href="" style="font-size: 30px;">Sale</a>
                    </div>
                </div>
                <div class="button-container">
                    <button class="view-more-button">View More</button>
                </div>
            </div>
        </section>
    </div>
  {% endblock content%}

