{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  Login
{% endblock title %}


{% block content %}
    <div class="main-login-container">
        <div class="login-container">
            <h1>{% translate "WELCOME BACK" %}</h1>
            <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="forgot-password-link">
                <a href="{% url 'password_reset' %}">{% translate "Forgot Password?" %}</a>
            </div>
            <button type="submit" id="submit">{% translate "Sign in" %}</button>
            </form>

            <h4>{% translate "First time? " %}<a href="{% url 'register' %}">{% translate "Join us now" %}</a></h4>
        </div>
    </div>
{% endblock %}
