{% extends "base.html" %}


{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    {% translate "Login" %}
{% endblock title %}


{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block js_links %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block header_content %}
    <h1>Log In</h1>
{% endblock %}

{% block main_content %}
    <div id="main-div">
        <form method="post">
            {% csrf_token %}
            <h1>Welcome!</h1>
            <div class="question">
                <input type="text" name="username" maxlength="128" required="" id="id_username">
                <label for="id_username">email / phone number</label>
            </div>
            <div class="question">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                <label for="id_password">password</label>
            </div>
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <button type="submit" id="submit">Log In</button>
            <br>
            <a href="../password-reset">Forgot password?</a>
            <a href="../register">Sign up!</a>
        </form>
    </div>
{%endblock %}