{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
  Reset password
{% endblock title %}


{% block content %}
    <div class="main-reset-password-container">
        <form class="reset-password-container" method="POST">
            {% csrf_token %}
            <h2>{% translate "FORGOT YOUR PASSWORD?" %}</h2>
            <p>Please enter the email of the account to <br>retrieve password</p>
            {{ form|crispy }}
            <button type="submit">{% translate "Reset" %}</button>
        </form>
    </div>
{% endblock content %}
