{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
  <title>{% translate "Password Reset Confirm" %}</title>
{% endblock title %}


{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <h2>{% translate "Reset Password" %}</h2>
            {{ form|crispy }}
            <button type="submit">{% translate "Reset Password" %}</button>
        </form>
    </div>
{% endblock content %}
