{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
  <title>{% translate "Password Reset Confirm" %}</title>
{% endblock title %}


{% block content %}
    <div class="main-reset-password-confirm-container">
        <form class="reset-password-confirm-container" method="POST">
            {% csrf_token %}
            <h2>{% translate "RESET YOUR PASSWORD" %}</h2>
            {{ form|crispy }}
            <button type="submit">{% translate "Confirm" %}</button>
        </form>
    </div>
{% endblock content %}
