{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Password change {% endblock title %}

{% block content %}
    <div class="main-password-change-container">
        <form  class="password-change-container" method="POST">
            <div class="left-password-change-container">
                <img class="profile-image" src="{{ user.profile_pic.url }}" alt="A user profile picture">
                <button class="password-change-link" type="submit" style="background-color: #C3CBCD;">{% translate "Change password" %}</button>
                <div class="password-change-link">
                    <a href="{% url 'password_reset' %}">{% translate "Forgot password?" %}</a>
                </div>
                <div class="password-change-link">
                    <a href="{% url 'home' %}">{% translate "Back" %}</a>
                </div>
            </div>
            <div class="right-password-change-container">
{#                <ul>#}
{#                    <li>Your password can’t be too similar to your other personal information.</li>#}
{#                    <li>Your password must contain at least 8 characters.</li>#}
{#                    <li>Your password can’t be a commonly used password.</li>#}
{#                    <li>Your password can’t be entirely numeric.</li>#}
{#                </ul>#}
                <div class="password-change-text">
                    <p>Your password cannot be similar to your personal</p>
                    <p>information such a surname or email address</p>
                    <p>Your password must contain at least 8 characters</p>
                    <p>Try to create unique combination of symbols and numbers</p>
                    <p>Remember! Your password cannot be entirely numeric</p>
                </div>
                <div class="password-change-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
        </form>
    </div>


{#  <h1>{% translate "Change Password Page" %}</h1>#}
{##}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{##}
{#    <button type="submit" id="submit">{% translate "Change Password" %}</button>#}
{#    <a href="{% url 'password_reset' %}">{% translate "Forgot Password?" %}</a>#}
{#  </form>#}

{% endblock %}
