{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  <title>{% translate "Profile" %}</title>
{% endblock title %}


{% block content %}
    <img src="{{ user.profile_pic.url }}" style="width:200px">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{% translate "Profile Info" %}</h2>
        {{ form|crispy }}

        <button class="btn btn-outline-info" type="submit">{% translate "Update" %}</button>
        <a href="{% url 'password_change' %}">{% translate "Change Password" %}</a>
    </form>
{% endblock content %}
