{% extends "UserApp/_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
  Register
{% endblock title %}


{% block content %}
    <div class="main-register-container">
        <form class="register-container" action="{% url 'register' %}" method="post">
            <h1>{% translate "CREATE ACCOUNT" %}</h1>
            {% csrf_token %}
{#            {{ form|crispy }}#}
            <div class="register-form">
                <div class="left-register-form">
                    <label>Email</label>
                    {{ form.email }}
                    <label>Phone number</label>
                    {{ form.phone_number }}
                    <label>Password</label>
                    {{ form.password1 }}
                    <label>Confirm password</label>
                    {{ form.password2 }}
                </div>
                <div class="right-register-form">
                    <label>First name</label>
                    {{ form.first_name }}
                    <label>Last name</label>
                    {{ form.last_name }}
                    <label>Birth date</label>
                    {{ form.birth_date }}
                </div>

            </div>
            {{ form.errors }}
            <button type="submit" id="submit">{% translate "Register" %}</button>
        </form>
    </div>
{#  <h4>#}
{#    {% translate "Already Have An Account?" %} <a class="ml-2" href="{% url 'login' %}">{% translate "Sign In" %}</a>#}
{#  </h4>#}

{% endblock %}
