{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}
    register
{% endblock title %}


{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register-override.css' %}">
{% endblock %}

{% block header_content %}
    <h1>Sign Up</h1>
{% endblock %}

{% block main_content %}
    <div id="main-div">
        <form method="post">
            {% csrf_token %}
            <h1>Create account!</h1>
            <table>
                <tr>
                    <td>
                        <div class="question">
                            <input type="email" name="email" maxlength="254" required  autofocus id="id_email">
                            <label class="override-form-label" for="id_email">email</label>
                        </div>
                    </td>
                    <td>
                        <div class="question">
                            <input type="text" name="first_name" maxlength="40" required id="id_first_name">
                            <label class="override-form-label" for="id_first_name">first name</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="question">
                            <input type="tel" name="phone_number" maxlength="128" required id="id_phone_number">
                            <label class="override-form-label" for="id_phone_number">phone number</label>
                        </div>
                    </td>
                    <td>
                        <div class="question">
                            <input type="text" name="last_name" maxlength="40" required id="id_last_name">
                            <label class="override-form-label" for="id_last_name">last name</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="question">
                            <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
                            <label class="override-form-label" for="id_password1">password</label>
                        </div>
                    </td>
                    <td>
                        <div class="question">
                            <select class="select month" name="birth_date_month" id="id_birth_date_month">
                                <div class="options">
                                    <option class="item active" disabled selected value></option>
                                    <option class="item" value="1">January</option>
                                    <option class="item" value="2">February</option>
                                    <option class="item" value="3">March</option>
                                    <option class="item" value="4">April</option>
                                    <option class="item" value="5">May</option>
                                    <option class="item" value="6">June</option>
                                    <option class="item" value="7">July</option>
                                    <option class="item" value="8">August</option>
                                    <option class="item" value="9">September</option>
                                    <option class="item" value="10">October</option>
                                    <option class="item" value="11">November</option>
                                    <option class="item" value="12">December</option>
                                </div>
                            </select>
                            <select class="select month" name="birth_date_day" id="id_birth_date_day">
                                <div class="options">
                                    <option class="item active" disabled selected value></option>
                                    {% for i in ""|get_range:"1,32,1" %}
                                        <option class="item" value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </div>
                            </select>
                            <select class="select day" name="birth_date_year" id="id_birth_date_year">
                                <div class="options">
                                    <option class="item active" disabled selected value></option>
                                    {% for i in ""|get_range:"2021,1900,-1" %}
                                        <option class="item" value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </div>
                            </select>
                            <label class="center-label">birth date</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="question">
                            <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
                            <label class="override-form-label" for="id_password2">password confirmation</label>
                        </div>
                    </td>
                </tr>

            </table>
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <button type="submit" id="submit">Sign Up</button>
            <br>
            <a href="../login">Already have an account?</a>
        </form>
    </div>
{%endblock %}
