{% load i18n %}

{% block title %}
  <title>{% translate "All shipping addresses" %}</title>
{% endblock title %}

<h3>{% translate "Your shipping addresses: " %}</h3>

<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->

    <li><strong>{% translate "Postal code:" %} </strong> {{ object.postal_code }}</li>
    <li><strong>{% translate "Country (ISO code):" %} </strong> {{ object.country }}</li>
    <li><strong>{% translate "Region:" %} </strong> {{ object.region }}</li>
    <li><strong>{% translate "City:" %} </strong> {{ object.city }}</li>
    <li><strong>{% translate "Post office №:" %} </strong> {{ object.post_office }}</li>
    <p>
        <a href="/shipping/delete/{{object.id}}">Delete</a> -
        <a href="/shipping/update/{{object.id}}">Update</a>
    </p>
    <hr>

    <!-- If objet_list is empty  -->
    {% empty %}
    <li>{% translate "No objects yet." %}</li>
    {% endfor %}
</ul>

<form action="/shipping/add">
    <button type="submit" id="submit">{% translate "Add another shipping address" %}</button>
</form>
