{% load i18n %}

{% block title %}
  <title>{% translate "Delete shipping address" %}</title>
{% endblock title %}

<div class="main">
    <form method="POST" action="">
        {% csrf_token %}

        <h3>{% translate "Are you sure you want to delete this shipping address?" %}</h3><br>

        <strong>{% translate "Postal code:" %} </strong> {{ object.postal_code }}<br/>
        <strong>{% translate "Country (ISO code):" %} </strong> {{ object.country }}<br/>
        <strong>{% translate "Region:" %} </strong> {{ object.region }}<br/>
        <strong>{% translate "City:" %} </strong> {{ object.city }}<br/>
        <strong>{% translate "Post office №:" %} </strong> {{ object.post_office }}<br/><br/>

        <form action="/shipping/all/">
            <button type="submit" id="submit">{% translate "Yes" %}</button>
        </form>
    </form>
</div>
