{% extends 'UserApp/_base.html' %}
  {% block title %} Homepage {% endblock title %}
  {% block content %}
  {% load static %}
  {% load pagination_tags %}
  {% load i18n %}
   {% block header %}
    <link rel="stylesheet" href="{% static 'css/order/cart-styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/get_csrf.js' %}"></script>
{% endblock header %}
    <div class="categories-scroller">
        {% for category in categories %}
            <div class="category-section" >
                <a href="{{ category.get_absolute_url }}" style="color: black">{{ category.name }}</a>
            </div>
        {% endfor %}

    </div>
    <div class="banner">
        <img src="{% static 'assets/banner_image.png' %}">
    </div>

      <div class="products-wrapper">
        {% for product in products %}
            <div class="product-quarter">
                <!--image supposed to be here-->
                <div class="product-quarter-top"
                     style="background-size: 100% 100%;
                             background-image: url({{ product.images.first.image.url }});
                             border-radius: 11% 11% 0 0;">
                    <a href="/product/overview/{{product.slug}}" class="product-image" >

                    </a>
                    <button data-id="{{ product.id }}" data-action="{% url 'order:cart-add' %}" class="add-to-cart" id="add-to-cart_id">

                    </button>
<!--                    <a data-id="{{ product.id }}" data-action="{% url 'order:cart-add' %}" class="add-to-cart"></a>-->
                </div>
                <div class="product-quarter-bottom">
                    <div class="product-quarter-bottom-left">
                        <a href="/product/overview/{{product.id}}" class="product-header" style="color:#CDBCB5;">{{product.name}}</a>
                        <p class="product-price" style="color:black;">{{ product.price }}$</p>
                    </div>
                    <div class="product-quarter-bottom-right">

                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
<script src="{% static 'js/order/cart/add_quantity.js' %}"></script>



      <div class="product-navigation-container">
        <div class="product-navigation">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}"> < </a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?{% url_replace request 'page' num %}" style="font-weight: bold">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?{% url_replace request 'page' num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace request 'page' page_obj.next_page_number %}"> > </a>
                {% endif %}

            {% endif %}
        </div>
      </div>
  {% endblock content%}




