{% extends 'UserApp/_base.html' %}
  {% block title %} Homepage {% endblock title %}
  {% block content %}
  {% load static %}
  {% load pagination_tags %}
  {% load i18n %}
    <div class="categories-scroller">
{#        <div class="left-button-container" id="btnLeft">#}
{#            <button class="scroll-left-button"> < </button>#}
{#        </div>#}
        {% for category in categories %}
            <div class="category-section" >
                <a href="{{ category.get_absolute_url }}" style="color: black">{{ category.name }}</a>
            </div>
        {% endfor %}
{#        <div class="right-button-container" id="btnRight">#}
{#            <button class="scroll-right-button"> > </button>#}
{#        </div>#}
    </div>
    <div class="banner">
        <img src="{% static 'assets/banner_image.png' %}">
    </div>

      <div class="products-wrapper">
        {% for product in products %}
    {#        {% if product.images.first %}#}
    {#        <img src="{{ product.images.first.image.url }}" style="width:200px" alt="A product image">#}
    {#        {% endif %}#}
            <div class="product-quarter">
                <!--image supposed to be here-->
                <div class="product-quarter-top"
                     style="background-size: 100% 100%;
                             background-image: url({{ product.images.first.image.url }});
                             border-radius: 11% 11% 0 0;">
                    <a href="/product/overview/{{product.slug}}" class="product-image" >

                    </a>
                    <button class="add-to-cart-button" type="button" onclick="
                            // add to cart functionality
                            console.log({{ product.id }})
                        ">

                    </button>
                </div>
                <div class="product-quarter-bottom">
                    <div class="product-quarter-bottom-left">
                        <a href="/product/overview/{{product.id}}" class="product-header" style="color:#CDBCB5;">{{product.name}}</a>
                        <p class="product-price" style="color:black;">{{ product.price }}$</p>
                    </div>
                    <div class="product-quarter-bottom-right">

                    </div>
                </div>
            </div>
        {% endfor %}
      </div>


      <div class="product-navigation-container">
        <div class="product-navigation">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace request 'page' page_obj.previous_page_number %}"> < </a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?{% url_replace request 'page' num %}" style="font-weight: bold">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?{% url_replace request 'page' num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace request 'page' page_obj.next_page_number %}"> > </a>
                {% endif %}
            {% endif %}
        </div>
      </div>
  {% endblock content%}

