{% extends 'UserApp/_base.html' %}
{% block title %} Products {% endblock title %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static '/css/ProductsPage.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <section id="word_cloud">

            <div id="word_cloud_div">
                <div class="tag_name">
                     Samsung
                </div>
                <div class="tag_delete">
                    <img id="delete_image" src='Layer%2035.png'>
                </div>
            </div>

        </section>


        <section id="top">

            <div id="name_of_category">
                Cameras
            </div>

            <div id="filter">




                 <div class="btn-group">
                  <button  type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Right-aligned menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                  </div>
                </div>


            </div>


        </section>


        <section id="products">

            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>


            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>

            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>

            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>

            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>

            <div class="product">
               <div class="product_photo">  <!--style="position: relative; "-->
                  <img class="product_photo_radius" width="100%" height="100%" src="img.png">
<!--                  <span id="overlay_text" style="position: absolute; top: 0px; ">-->
<!--                      <img class="cart_image" src="Layer%2027.png">-->
<!--                  </span>-->
               </div>
                <div class="bottom_div">
                    <div class="name">Iphone 13 Pro Max </div>
                    <div class="extra">
                        <div class="price"> 1300$</div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>

        </section>

    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content%}