/*footer*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 10rem;
    flex-flow: row nowrap;
}

.footer-left {
    display: flex;
    width: 25%;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    height: 10rem;
}

.footer-left .footer-main-text {
    display: flex;
    padding-left: 2rem;
}

.footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 10rem;
}

.footer-right .footer-first-container {
    display: flex;
    flex-direction: column;
    color: #F6E37B;
    justify-content: center;
    padding-top: 1rem;
    /*width: 50%;*/
    /*align-items: center;*/
}

.footer-right .footer-first-container .footer-main-text-first{
    font-weight: bold;
    font-size: 1.4rem;
}

.footer-right .footer-first-container .footer-second-text-first{
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.footer-right .footer-second-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-right: 2rem;
    padding-bottom: 0.9rem;
    /*width: 50%;*/
}

@media only screen and (max-width:650px) {
    .footer-right .footer-first-container .footer-main-text-first{
    /*font-weight: bold;*/
        font-size: 1.1rem;
    }

    .footer-right .footer-first-container .footer-second-text-first{
        font-size: 0.7rem;
        /*padding-bottom: 1rem;*/
    }

    .footer-left {
        font-size: 2rem;
        /*padding-left: 0.5rem;*/
    }

    .footer-second-container {
        font-size: 0.9rem;
    }

    .footer-right {
        width: 80%;
    }
}

@media only screen and (max-width:530px) {
    .footer-left .footer-main-text{
        width: 20%;
    }

    .footer-left .footer-main-text{
        /*width: 20%;*/
        font-size: 1.0rem;
        padding-left: 0.5rem;
    }

    .footer-right .footer-first-container .footer-main-text-first{
        font-size: 0.8rem;
    }

    .footer-right .footer-first-container .footer-second-text-first{
        font-size: 0.5rem;
    }
}