/*nav-menu*/
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

header .left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

header .hamburger {
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-color: transparent;
}

header .logo {
    display: flex;
    justify-self: flex-end;
    font-size: 1.9rem;
    font-weight: bold;
    color: #F6E37B;
}

 header .left-container .search-container {
     display: none;
     align-items: center;
     flex-direction: row;

 }

header .right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header .links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding-right: 3rem;
}

header .links-container a{
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}

header .search-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-box {
    height: 1.8rem;
    width:10rem;
    background-color:#F6E37B;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 1rem;
}

.search-button {
    width: 1.5rem;
    height: 1.8rem;
    background-color: #F6E37B;
    border: none;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    margin-right: -5px;
}

.nav-image,
.nav-link {
    height: 2rem;
    width: 2rem;
}

/*
    INCLUDES:
        Hamburger button
        Hamburger menu
*/
/* HAMBURGER BUTTON */
.appeared {
    visibility: visible;
}

.disappeared {
    visibility: hidden;
}

.fixed_position {
    overflow: hidden;
}



.hamburger:hover {
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    background-color: #F0B825 !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
    background-color: #FE7332 !important;
}

.hamburger-inner::after {
    bottom: -10px;
    background-color: #9698FE !important;
}

/*!*making header fixed *!*/
/*!* The sticky class is added to the header with JS when it reaches its scroll position *!*/
/*.sticky {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%*/
/*}*/

/*!* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) *!*/
/*.sticky + .content {*/
/*  padding-top: 102px;*/
/*}*/

/* HAMBURGER MENU */

.burger-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 16rem;
    margin: 50px 0 0 0;
    background-color: black;
    color: white;
    border-right: 3px solid black;
}

.burger-profile_items {
    display: flex;
    flex-direction: column;
    color: white;
}

.burger-profile_section a,
.burger-profile_section
{
    /*color: #5d52c1;*/
}


.burger-profile_section {
    margin: 20px 0 50px 0;
    color: white;
}

.burger-header {
    padding-left: 15px;
    font-size: 1.8rem;
}


.burger-profile_items {
    margin: 10px 0 0 15px;
    color: white;
}

.item-link {
    padding: 5px 0 0 10px;
    color: white;
}

@media only screen and (max-width:630px) {
    header .burger-nav {
        width: 45%;
    }

    header .burger-header {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:560px) {
    header .right-container .links-container{
        display: none;
    }

    header .logo{
        font-size: 1.3rem;
    }

    header .search-box {
        width: 70%;
    }
}

@media only screen and (max-width:350px) {
     header .logo{
        font-size: 1rem;
    }
}