/*nav-menu*/
.nav-menu {
    /*position: fixed;*/
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

.nav-menu_actions {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
}

.nav-icons {
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 34px;
    width: 34px;
}

.nav-link {
    margin: 0 5px 0 5px;
    padding-left: 15px;
}

.nav-image {
    width: 34px;
    height: 34px;
}

.search-box {
    height: 27px;
    background-color:#F6E37B;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 15px;
}

.search-button {
    width: 27px;
    height: 27px;
    background-color: white;
    border: none;
    padding-top: 9px;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    margin-right: -5px;
}

.site-logo {
    color: #F6E37B;
    font-size: 1.8rem;
    position: absolute;
    top: 4px;
    left: 45px;
    letter-spacing: 1px;
}




/*
    INCLUDES:
        Hamburger button
        Hamburger menu
*/
/* HAMBURGER BUTTON */
.appeared {
    visibility: visible;
}

.disappeared {
    visibility: hidden;
}

.fixed_position {
    overflow: hidden;
}

.hamburger {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-color: transparent;
}

.hamburger:hover {
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    background-color: #F0B825 !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
    background-color: #FE7332 !important;
}

.hamburger-inner::after {
    bottom: -10px;
    background-color: #9698FE !important;
}

/*!*making header fixed *!*/
/*!* The sticky class is added to the header with JS when it reaches its scroll position *!*/
/*.sticky {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%*/
/*}*/

/*!* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) *!*/
/*.sticky + .content {*/
/*  padding-top: 102px;*/
/*}*/

/* HAMBURGER MENU */

.burger-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    margin: 50px 0 0 0;
    background-color: black;
    color: rgb(148, 130, 130);
    border-right: 3px solid black;
}

.burger-profile_items {
    display: flex;
    flex-direction: column;
}

.burger-profile_section a,
.burger-profile_section
{
    /*color: #5d52c1;*/
}


.burger-profile_section {
    margin: 20px 0 50px 0;
    color: #F6E37B;
}

.burger-header {
    padding-left: 15px;
}


.burger-profile_items {
    margin: 10px 0 0 15px;
    color: #F6E37B;
}

.item-link {
    padding: 5px 0 0 10px;
    color: #F6E37B;
}
