.main-reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
}

.reset-password-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 18rem;
    border: black solid;
    border-radius: 5rem;
}

.reset-password-container p{
    text-align: center;
}

.reset-password-container label{
    margin: 0;
    font-size: 0.8rem;
}

.reset-password-container button{
    background-color: #F6E37B;
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.reset-password-container h2{
    font-weight: bold;
}