.main-reset-password-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
}

.reset-password-confirm-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 22rem;
    border: black solid;
    border-radius: 5rem;
}

.reset-password-confirm-container label{
    /*margin: 0;*/
    /*font-size: 0.8rem;*/
}

.reset-password-confirm-container button{
    background-color: #F6E37B;
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.reset-password-confirm-container h2{
    font-weight: bold;
}

.reset-password-confirm-container #div_id_new_password1 {
    height: 2rem;
    text-align: center;
}