@import 'header.css';
@import 'footer.css';

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fbf8f8;
    /*background-color: #9698FE;*/
}

.banner {
    height: 120px;
    width: 100%;
    background-color: rgb(82, 82, 82);
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
}

.categories-scroller {
    height: 35px;
    background-color: #FE7332;
    display: flex;
}

.scroll-right-button {
    float:right;
}

.featured-container {
    height: 40rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.featured-text {
    padding: 1rem 0 0 1rem;
    font-size: 1.8rem;
}
.featured-block-list {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-evenly;
}
.featured-block {
    border: 3px solid #000;
    width: 19.7%;
    height: 45%;
    display: flex;
    justify-content: center;
    font-size: 95px;
    align-items: center;
}
.button-container {
    display: flex;
    align-self: center;

}

.view-more-button {
    width: 10rem;
    height: 3rem;
    font-size: large;
    font-weight: 800;
    border-radius: 10px;
    background-color: #F0B825;
    /*color: #5d52c1;*/
}


/* -----------------------  Order page  ----------------------- */


.tab {
    background: #FFFFFF;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

.tab button {
    background-color: inherit;
    width: 150px;
    height: 60px;
    margin-right: 7px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 25px 25px 0 0;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);
}

.tab button:hover {
    background-color: #C3CBCD;
}

.tab button.active {
    background-color: #F9F3E5;
}

.tabcontent {
    width: 920px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 60px 0 60px 0;

    background: #FFFFFF;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0 50px 0 0;
}

.tablinks {
    font-size: 18px;
    font-weight: bolder;
}

.contact-tab {
    background: #FFFFFF;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 50px 20px 50px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.order-tab {
    background: #FFFFFF;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 50px 20px 50px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.h4-tabs {
    margin-top: 12px;
    margin-bottom: 12px;
}

.input-tabs {
    line-height: 24px;
    min-height: 40px;
    box-sizing: border-box;
    border: 1px solid #fbf8f8;
    padding: 0 16px;
    width: 100%;
    background: #fbf8f8;
    border-radius: 3px;
}

#button-go-to-delivery {
    background: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    max-width: 314px;
    margin-top: 50px;
    padding: 0;
    text-align: center;
    transition: color .3s ease;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

#button-checkout {
    background: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    max-width: 214px;
    padding: 0;
    text-align: center;
    transition: color .3s ease;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.delivery-payment-tab {
    background: #FFFFFF;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 50px 20px 50px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
