
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% for object in products %}
        <div class="col-sm-3">
            <p>{{ object.name }}</p>
            <p>Price: ${{ object.price }}</p>
            <button data-id="{{ object.id }}" data-action="{% url 'order:cart-add' %}" class="update-cart">Add to Cart</button>
        </div>
{% endfor %}
{% load static %}
<script>
    var updateBtns = document.getElementsByClassName('update-cart');

    for(i=0; i<updateBtns.length; i++){
        updateBtns[i].addEventListener('click', function (){
            var productId = this.dataset.id;
            var action = this.dataset.action;

        $.ajax({
         type: 'POST',
         url: action,
         data: {
             product_id: productId,
             csrfmiddlewaretoken: '{{ csrf_token }}',
         },
         success: function (json){
         },
         error: function (xhr, errmsg, err) {
         }
        });
        })}

</script>



