{% extends 'UserApp/_base.html' %}
{% block title %} Checkout {% endblock title %}

{% load static %}
{% load i18n %}

{% block content %}
     <div class="tab">
         <button class="tablinks" onclick="openTab(event, 'your-order')" id="defaultOpen">Your order</button>
         <button class="tablinks" onclick="openTab(event, 'contact-details')">Contact details</button>
         <button class="tablinks" onclick="openTab(event, 'delivery-and-payment')">Delivery & Payment</button>
     </div>
     <div id="contact-details" class="tabcontent">
         <div class="contact-tab">
             <h4 class="h4-tabs">Name</h4>
             <input class="input-tabs" type="text" id="name" name="name" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Surname</h4>
             <input class="input-tabs" type="text" id="surname" name="surname" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Middle name</h4>
             <input class="input-tabs" type="text" id="middle-name" name="middle-name" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Email</h4>
             <input class="input-tabs" type="email" id="email" pattern=".+@globex\.com" size="45" required>
             <h4 class="h4-tabs">Phone number</h4>
             <input class="input-tabs" type="tel" id="phone" name="phone" pattern="+38([0-9]{3}) [0-9]{3} [0-9]{2} [0-9]{2}" size="45" required>
             <button type="button" id="button-go-to-delivery">Go to delivery & payment section</button>
         </div>
     </div>
     <div id="your-order" class="tabcontent">
         <div class="order-tab">
             <h4>Product 1</h4>
             <br>
             <h4>Image</h4>
             <br>
             <h4>Name</h4>
             <br>
             <h4>Price</h4>
             <br>
             <hr>
             <br>
             <h4>Product2</h4>
             <br>
             <h4>Image</h4>
             <br>
             <h4>Name</h4>
             <br>
             <h4>Price</h4>
             <br>
             <a href="#">Edit order</a>
             <br>
             <hr>
             <br>
             <h4>Total</h4>
             <br>
             <hr>
             <br>
             <br>
             <br>
             <button type="button" id="button-checkout">Checkout</button>
         </div>
     </div>
     <div id="delivery-and-payment" class="tabcontent">
         <div class="delivery-payment-tab">
             <h3 style="margin-bottom: 25px">Enter a new address for delivery</h3>
             <h4 class="h4-tabs">Country</h4>
             <input class="input-tabs" type="text" id="country" name="country" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">City</h4>
             <input class="input-tabs" type="text" id="city" name="country" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Region</h4>
             <input class="input-tabs" type="text" id="region" name="country" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Postal code</h4>
             <input class="input-tabs" type="text" id="postal-code" name="country" required minlength="4" maxlength="20" size="45">
             <h4 class="h4-tabs">Post office</h4>
             <input class="input-tabs" type="text" id="post-office" name="country" required minlength="4" maxlength="20" size="45">
             <hr style="margin-top: 30px">
             <h3 style="margin-bottom: 25px; margin-top: 60px;">Chose payment method</h3>
             <div class="payment-radio-buttons" style="float: left; margin-right: 100px">
                 <input type="radio" id="card" name="payment-method" value="card">
                 <label for="card" style="font-size: 16px; font-weight: bolder">Card</label>
             </div>
             <div class="payment-radio-buttons">
                 <input type="radio" id="cash" name="payment-method" value="cash" checked>
                 <label for="cash" style="font-size: 16px; font-weight: bolder">Cash</label>
             </div>
         </div>
     </div>
{% endblock content%}